.footer {
  /* padding-top: 10px; */
  height: 100vh;
  display: flex;
  /* position: relative; */
  /* bottom: 0; */
  align-items: center;
  color: #fff;
  background-color: black;
  /* padding: 10px; */
  justify-content: center;
  flex-direction: column;
}

.footer__top {
  text-align: center;
  color: white;
}

.footer__top > h1 {
  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer__subscribe {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}

.footer__top__subscribeInput {
  color: black;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.footer__top__subscribeButton {
  color: #fff;
  background-color: #dc45a4;
  font-size: 16px;
  padding: 12px 14px 12px 14px;
  height: 50px;
}

.footer__top__subscribeButton:hover {
  background-color: #ce2690;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.footer__center {
  display: flex;
  font-size: 12px;
  font-weight: bold;
}

.footer__center > h1 > span {
  font-size: 22px;
}

.footer__rightSide {
  margin-bottom: 30px;
}

.footer__rightSide > a {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

.footer__rightSide > a:hover {
  color: #4591f5;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
