.app {
  /* padding-top: 120px; */
  /* Page scroll effect */
  scroll-snap-type: y mandatory;
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  /* Remove the extra side scroll bar */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.app::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.section {
  /* Page scroll effect */
  scroll-snap-align: start;
}
